.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 200px;
  height: 50px;
  background-color: $bgColorAccent;
  border: transparent 1px solid;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $textColorWhite;
  cursor: pointer;
}

.button__icon {
  width: 24px;
  height: 24px;
  fill: $bgColorPrimary;
  align-items: center;
}

.button__icon--end {
  margin-left: 10px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  min-width: 30px;
  min-height: 30px;
  padding: 0px;
  border-radius: 50%;
  background-color: $bgColorPrimary;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover .button-close__icon {
    fill: $bgColorAccent;
  }
}

.button-close__icon {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.menu-button {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 12px 8px;

  margin-left: auto;
  z-index: 3;

  cursor: pointer;
  &:hover,
  &:focus {
    fill: $bgColorAccent;
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }

  &.is-open {
    position: fixed;
    top: 2%;
    right: 3%;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.icon-menu {
  height: 16px;
  width: 24px;
}

.icon-cross {
  height: 18px;
  width: 18px;
}
