.footer {
  background-color: $bgColorFooter;
  padding: 60px 0px;

  @media screen and (max-width: 479px) {
    width: 480px;
  }
}

.footer__container {
  display: block;

  @media screen and (min-width: $tablet) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.social-links--footer {
  padding: 0px;
}

.social-links__button-icon--footer {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__icon--footer {
  fill: $bgColorPrimary;
}

.footer__contacts {
  display: block;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin-right: 165px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 0px;
    text-align: left;
  }
}
