.navigation {
  flex-grow: 1;

  @media screen and (min-width: $tablet) {
    display: inline-block;

    & .list {
      width: 294px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.navigation__item {
  font-weight: 500;
  text-align: left;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  list-style: none;
  margin-bottom: 32px;
  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) {
    position: relative;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0px;
  }
}

.navigation__item:not(:last-child) {
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.navigation__link {
  width: 100%;
  text-decoration: none;
  color: $textColorPrimary;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $textColorAccent;
  }
}

.navigation__link--current {
  color: $textColorAccent;
}

.navigation__link--current::after {
  @media screen and (min-width: $tablet) {
    content: "";
    position: absolute;
    left: 0;
    top: 44.5px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: $bgColorAccent;
    border-radius: 2px;
  }
}

.menu-button {
  display: inline-flex;
  flex: flex-end;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  padding: 12px 8px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  z-index: 1;

  cursor: pointer;
  &:hover,
  &:focus {
    fill: $bgColorAccent;
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}

.icon-menu {
  height: 16px;
  width: 24px;
}

.icon-cross {
  height: 18px;
  width: 18px;
}
