.page-header {
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 60px;

  @media screen and (max-width: 767px) {
    margin: auto;
    width: 100%;
  }
  @media screen and (min-width: $tablet) {
    position: static;
    display: flex;
    height: 80px;
  }
}
