.social-wrap {
  margin: 15px 0 0 70px;
  width: 206px;
}

.social-wrap__label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: $bgColorPrimary;
  margin-bottom: 20px;
}
