.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
