/* Переменные цветов*/

/* Текст */
$textColorPrimary: #212121;
$textColorSecondary: #757575;
$textColorWhite: #ffffff;
$textColorAccent: #2196f3;
$textColorLogoBlack: #000000;
$textColorAdressLink: rgba(255, 255, 255, 0.6);

/* Фон */
$bgColorPrimary: #ffffff;
$bgColorSecondary: #f5f4fa;
$bgColorFooter: #2f303a;
$bgColorAccent: #2196f3;
$bgColorBackdrop: rgba(0, 0, 0, 0.2);

/* Иконки соцсетей */
$iconColorFill: #afb1b8;

/* Переменные шрифтов */
$fontFamilyPrimary: "Roboto", sans-serif;
$fontFamilyLogo: "Raleway", sans-serif;

// Переменные из CSS

/* :root {
    --text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --footer-color: #2f303a;
} */
